* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.white {
    color: white;
}


/* HEADER */

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.box-header {
    height: 80px;
    background-color: rgb(255,105,0);
}

.container {
    max-width: 1200px;
    min-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255,105,0);
}

li {
    list-style-type: none;
}

.links-head {
    flex-direction: row;
    gap: 10px;
}

.logo {
    width: 160px;
}

a {
    color: white;
    text-decoration: none;
}

.icons {
    gap: 10px;
}

/* MAIN */

.clothes-img {
    width: 386px;
    display: block;
}

.box-main {
    max-width: 1200px;
    margin: 50px auto;
}

.container-clothes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    flex-basis: calc(100% / 3 - 40px / 100%);
}

.card {
    position: relative;
}

.card .hover-img {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.card:hover .hover-img{
    display: block;
 }
.heart {
    font-size: 20px;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 10px;
    right: 0px;
}

.heart:hover {
    color: red;
}

.discount {
    background-color: red;
    display: inline;
    padding: 4px 6px;
    position: absolute;
    bottom: 110px;
}

.sostenibility {
    background-color: green;
    display: inline;
    position: absolute;
    padding: 4px;
    bottom: 110px;
    left: 50px;
}

.left {
    left: 0;
}

.red {
    font-weight: bold;
    color: red;
}

.strike {
    text-decoration: line-through;
}

/* FOOTER */

.box-footer {
    min-height: 80px;
    background-color: rgb(26,26,26);
}

.container-footer {
    max-width: 1200px;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    line-height: 1.8;
}